.ruby-version
temp.md
test.rb
spec/factories/*
spec/models/*
.DS_Store
._.DS_Store
.bundle
db/*.sqlite3
db/data.yml
db/*.sqlite3.*
log/*.log
tmp/
*.pyc
*.swp
*.swo
*.swn
*.tmp
*.bak
spec/helpers/
spec/views/
spec/routing/
doc/~$*
doc/Thumbs.db
config/database.yml
config/settings.yml
REVISION
log
*.log
public/assets
spec/mock_attributes.yaml
*.sql
lib/radius/auth.py
config/secrets.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
public/files
.idea/*.xml
config/log4r.yml
*.zip
nohup.out
config/thin.yml
public/uploads/
config/deploy.rb
public/deploy/
*~
.swm
dump.rdb
.idea/
spec/requests
public/system
public/uploads

